{{!-- 
                       -----------------      -----------------
                       ***************** city *****************
                       -----------------      -----------------
                                                            --}}
<section class="thanks city">
    <div class="container">
        {{!-- 
                       -----------------      -----------------
                       ***************** inside__city *****************
                       -----------------      -----------------
                                                            --}}
        <div class="inside_thanks inside__city">
            {{!-- 
                       -----------------      -----------------
                       ***************** form *****************
                       -----------------      -----------------
                                                            --}}
            <h1>People From {{place}} who signed the petition</h1>
            {{!-- 
                       -----------------      -----------------
                       ***************** form *****************
                       -----------------      -----------------
                                                            --}}
            {{!-- 
                       -----------------      -----------------
                      People with black color are not clickable which mean they haven't provide anylinks
                       -----------------      -----------------
                                                            --}}

            <div class="cityPeople">
                {{#cityResults}}
                <h1>
                    {{#if this.user_url}}
                    {{!-- 
                       -----------------      -----------------
                       ***************** form *****************
                       -----------------      -----------------
                                                            --}}
                    <a href="{{user_url}}" target="_blank">


                        {{/if}}

                        {{!-- 
                       -----------------      -----------------
                       ***************** first  *****************
                       -----------------      -----------------
                                                            --}}



                        {{user_firstname}}

                        {{!-- 
                       -----------------      -----------------
                       ***************** last name *****************
                       -----------------      -----------------
                                                            --}}

                        {{user_lastname}}

                        {{!-- 
                       -----------------      -----------------
                       ***************** form *****************
                       -----------------      -----------------
                                                            --}}
                        {{#if this.user_url}}</a>{{/if}}


                    {{!-- 
                       -----------------      -----------------
                       ***************** form *****************
                       -----------------      -----------------
                                                            --}}
                    {{#if this.user_age}}, {{user_age}}

                    {{/if}}
                </h1>

                {{/cityResults}}
            </div>
        </div>
    </div>
    </div>

    </div>
    </div>
</section>