<section class="signers">
    <div class="container">
        <h1>We are the <span class="highlight">people!</span> </h1>
        {{#people}}
        {{!-- 
                       -----------------      -----------------
                       ***************** start people *****************
                       -----------------      -----------------
                                                            --}}
        <div>



            <a>

                {{#if this.url}}
                {{!-- 
                       -----------------      -----------------
                       ***************** SHowing URL in case founded *****************
                       -----------------      -----------------
                                                            --}}
                <a href="{{url}}" target="_blank">{{/if}}
                    {{!-- 
                       -----------------      -----------------
                       ***************** SHowing  Name *****************
                       -----------------      -----------------
                                                            --}}
                    {{first}}
                    {{!-- 
                       -----------------      -----------------
                       ***************** SHowing last name *****************
                       -----------------      -----------------
                                                            --}}
                    {{last}}

                    {{#if this.url}}</a>{{/if}}
                {{!-- 
                       -----------------      -----------------
                       ***************** showing Age *****************
                       -----------------      -----------------
                                                            --}}
                {{#if this.age}},
                {{age}}{{/if}}
                {{!-- 
                       -----------------      -----------------
                       ***************** showing City *****************
                       -----------------      -----------------
                                                            --}}
                {{#if this.city}},
                {{!-- 
                       -----------------      -----------------
                       ***************** Link to City *****************
                       -----------------      -----------------
                                                            --}}
                <a href="/signers/{{city}}">{{city}}</a>
                {{/if}}


            </a>
        </div>
        {{!-- 
                       -----------------      -----------------
                       ***************** en people *****************
                       -----------------      -----------------
                                                            --}}
        {{/people}}
    </div>
</section>